#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.text-box {
  margin-left: 20%;
  margin-right: 20%;
}

#info-text {
  color: red;
}

.content-custom {
  line-height: 2rem;
}

.fa-custom {
  color: black;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
}
