@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

.navbar-brand .nav-link {
  color: #ffffff;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold";
  font-size: 30px;
}

.navbar-brand {
  margin-right: 13%;
}

.custom-nav-text {
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
  font-size: 25px;
}

.nav-bg-custom {
  background-color: black;
}

.navbar-dark .navbar-nav > .nav-item > .active {
  color: white;
  font-weight: bold;
  text-decoration-line: underline;
}

.navbar-dark .navbar-nav > .nav-item > a:hover {
  color: black;
}

.navbar-dark .navbar-nav > .nav-item:hover {
  background: rgba(204, 232, 250, 0.5);
  box-shadow: 5px 5px;
  border-radius: 5px;
}

.navbar-dark .navbar-nav > .nav-item > a {
  color: #ffffff;
}

.custom-search:hover {
  color: #fff !important;
}

.custom-search {
  font-size: smaller;
}
